# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# OS
Thumbs.db
.DS_Store
streamlit_auth.json
deploy_page.png
